HELP.md
auth-server/src/main/frontend/node_modules/
auth-server/src/main/frontend/dist
auth-server/dist/
auth-server/target/
auth-server/local/localstack
auth-server/local/postgresql

management-ui/dist/
management-ui/src/node_modules/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
