SERVER_ADDRESS=":8086"

MANAGEMENT_UI_SERVER_URL="http://local.management.vauthenticator.com:8085"

IDP_BASE_URL="http://local.api.vauthenticator.com:9090"
CLIENT_APPLICATION_ID="vauthenticator-management-ui"
REDIRECT_URI="http://local.management.vauthenticator.com:8085/callback"
AUTHENTICATION_CHECK_INTERVAL="15000"
API_BASE_URL="http://local.api.vauthenticator.com:9090/api"

